@media (max-width: 768px) and (min-width: 426px) {

    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .top {
        width: 1350px;
    }

    .about {
        width: 1350px;
    }

    .about__box {
        padding-left: 100px;
        padding-right: 100px;
    }

    .mini {
        width: 1350px;
    }

    .mini__title {
        padding-left: 100px;
    }

    .mini__box {
        padding-left: 100px;
        padding-right: 100px;
    }

    .footer {
        width: 1350px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {

    .top {
        width: 1350px;
    }

    .about {
        width: 1350px;
    

    &__box {
        padding-left: 100px;
        padding-right: 100px;
    }
    }

    .mini {
        width: 1350px;
    

    &__title {
        padding-left: 100px;
    }

    &__box {
        padding-left: 100px;
        padding-right: 100px;
    }
    }
    .footer {
        width: 1350px;
    }

} 


