@media (min-width: 476px) and (max-width: 768px) {

    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .top {
        width: 100%;
    }

    .about {
        width: 100%;                
    }    

    .mini {
        width: 100%; 
        
    }

    .mini__title {
        padding-left: 16px;
    }

    .mini__box {
        padding-left: 16px;
        padding-right: 16px;
    }

    .mini__img {
        width: 50%;
        object-fit: cover;
    }

    .footer {
        width: 100%; 
    }
}

@media (max-width: 1024px) {

    .center {
        padding-left: 50px;
        padding-right: 50px;
    }
    .top {
        width: 100%; 
    }

    .about {
        width: 100%; 
        box-sizing: border-box;   

    &__link_title {
        font-size: 24px;
    }

    &__cart {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__link_img {
        width: 100%;
    }

    &__link {
        flex-direction: row;
    }

    &__link_small {
        height: 551px;
    }

    &__link_big {
        height: 551px;
    }
    }

    .mini {
        width: 100%; 
        box-sizing: border-box;
    
    &__img {
        width: 50%;
        height: 50%;
    }

    &__text {
        padding-top: 12px;
        font-size: 20px;
    }

    &__game {
        padding-top: 24px;
        font-size: 36px;
        line-height: normal;
    }
    }
    .footer {
        width: 100%; 
    }
    }
     

